---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
const { frontmatter } = Astro.props;
const mainColor = "#0f0015";
const tonicColor = "#fcf4ff";
import '../styles/global.css';
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{frontmatter.title}</title>
    <style define:vars={{mainColor:mainColor, tonicColor:tonicColor}}>
    </style>
  </head>
  <body>
    <style>
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
	<Header/>
	<main>
		<h1>{frontmatter.title}</h1>
        <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
        <p><em>{frontmatter.description}</em></p>
        <p>Écrit par : {frontmatter.author}</p>
        <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
        <slot/>
	</main>
  <Footer/>
  </body>
</html>
